body {
    margin: auto;
}
#headerbox {
    background-color: white;
    text-align: center;
}
#feedbox {
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
}
img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}
.photobox {
    margin: auto;
    overflow: hidden;
    background-color: white;
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.phototitle {
    float: left;
}
.date {
    float: right;
    color: grey;
}
.topbar {
    width: 500px;
}
.caption {
    padding: 5px;
}